body {
    background-image: url("light.png");
    background-size: cover;
    z-index: -2;
}
header {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(#000000, #3f3d3c, rgb(0, 0, 0));
    border: 3px ridge #034403;
    border-radius: 1%;
    margin-bottom: 50px;
}
img {
    z-index: 99;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: -30px;
}
h3 {
    text-align: center;
}
h1 {
    font-size:70px;
    color: whitesmoke;
    margin-left: 550px;
    width: 700px;
    height: 130px;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px black);
    text-align: center;
    text-shadow: 1px 2px 1px red, 1px 2px 2px yellow, 1px 1px cyan;
}
.carte {
    border-radius: 1%;
    margin-left: 100px;
    background-color: #001a00;
    color: #b3ffb3;
    border: 3px ridge #00b300;
    width: 480px;
    height: 600px;
    font-size: 20px;
    filter:drop-shadow(10px 10px 10px black);
}
.text {
    margin-left: 20px;
}
.links {
    margin-top: 70px;
}



