header, main, .carte, .text, h1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
header {
    width: 90vw;
    height: 200px;
    background-image: linear-gradient(#000000, #3f3d3c, rgb(0, 0, 0));
    border: 3px ridge #034403;
    border-radius: 1%;
}
img {
    z-index: 99;
    margin-top: -30px;
}
p, h5, .contact, .links {
    font-size: 25px;
    text-align: left;
    margin-left: 50px;
    margin-top: 0;
}
h1 {
    font-size: 50px;
    color: whitesmoke;
    margin-top: 50px;
    width: 700px;
    height: 130px;
    filter: drop-shadow(10px 10px 10px #182825);
    text-shadow: 1px 2px 1px #f2ea08, 1px 2px 2px #7B4B94, 1px 1px #B9FAF8;
}
h1, h3 {
    text-align: center;
}
h3 {
    font-size: 40px;
}
.carte {
    border-radius: 1%;
    margin-top: 300px;
    background-color: #182825;
    color: #b3ffb3;
    border: 3px ridge #B9FAF8;
    width: 50%;
    height: 700px;
    font-size: 20px;
    filter:drop-shadow(10px 10px 10px black);
}
.text {
    width: 50%;
}
.links {
    margin-top: 70px;
}





